!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_charcoal.login-page.application
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        .row.prepend-top-20
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            = link_to image_tag("kwant_full_logo.png"), "http://kwant-project.org"
            %h3
              The Gitlab instance of the 
              = link_to "Kwant", "http://kwant-project.org"
              project

            %p
              The official
              = link_to "source repository", "/kwant/kwant"
              can be found here, as well as the
              = link_to "bug tracker", "/kwant/kwant/issues?label_name=bug"

            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)

    %hr
    .container
      .footer-links
        = link_to "Explore", explore_root_path
        = link_to "Help", help_path
        = link_to "About GitLab", "https://about.gitlab.com/"
